.post {
    border: 1px solid gray;
    width: 550px;
    height: 100px;
    position: relative;
    top: 10px;
    left: 200px;
    background-color: gainsboro;
}
.comment-input{
    width: 300px;
    height: 50px;
}
.btn-post{
    margin-left:5px;
    width: 80px;
    height: 50px;
}

.comment-box {
    position: relative;
    top: 30px;
    left: 40px;
}

.comments {

    border: 1px solid gray;
    width: 550px;
    min-height: 500px;
    position: relative;
    top: 20px;
    left: 200px;
    font-size: 20px;
    padding-left: 10px;
    
    /* overflow-y: scroll; */

}


.c-box {
    border-bottom: 1px solid green;
    /* min-height: 98px auto; */

    
}

.c-message {
    min-height: 50px;
    height:  auto;
    background-color: gainsboro;
    margin-left: 5px;
    margin-right: 5px;
    
}
.box-action{
    
}



.c-action {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    text-decoration: none;
    font-size: 14px;
    background-color: #557ab5;

}

.c-action:hover {
    background-color: peru;
}
.img-user{
    width: 30px;
    height: 30px;
}
.comments-below{
    margin-bottom:10px ;
}